h1, h2, h3, h4, h5, h6{
	margin-left: 75px;
	margin-right: 75px;
}
.fixedNavBar {
	position: fixed !important;
	top: 0px;
	width: 100%;
	margin-left: 0px !important;
}

.navbar-header.navbar-brand {
	font-size: 150%;
}

.nav.navbar-nav li {
	font-size: 140%
}

.activeNav {
	border-bottom-style: solid !important;
}

#AboutMe {
	margin-top: 2cm;
}


.SlideLeft {
	animation: slideLeft 0.5s;
}

.hideOnStart {
	display: none;
}
@keyframes slideLeft {
	0% {
		transform: translateX(100px);
		opacity: 0
	}
	
	100% {
		transform: translateX(0px);
		opacity: 1
	}
}

#back-to-top {
	position: absolute;
	right: 0;
	top: 2000px;
}
