
h1, h2, h3, h4, h5, h6 {
	margin-left: 75px;
	margin-right: 75px;
}


@keyframes slideLeft {
	0% {
		transform: translateX(100px);
		opacity: 0
	}
	
	100% {
		transform: translateX(0px);
		opacity: 1
	}
}

.infoText {
	animation: slideLeft 0.5s 1;

}
.startUp {
	display: none;
}
